:root {
	--lego-red: #c91a09;
	--lego-yellow: #ffd700;
	--lego-blue: #0055bf;
	--white: #ffffff;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
	height: 100vh;
	width: 100vw;
	animation: fadeIn 0.4s ease-in forwards;
}

.gift_shop_body {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.gift_shop_cashier_minifigure {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 24px;
	margin-right: 12px;
	width: 50vw;

	/* used to make the speech bubble */
	h1 {
		color: var(--lego-yellow);
		background-color: var(--lego-red);
		text-align: center;
		border-radius: 15%;
		padding: 12px;
		position: relative;
	}

	/* used to make the speech bubble triangle*/
	h1:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-right-color: var(--lego-red);
		border-left: 0;
		border-top: 0;
		margin-top: -10px;
		margin-left: -20px;
	}
}

.gift_shop_minifigure {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-right: 12px;

	img {
		width: 200px;
		height: 250px;
	}
}

.carousel {
	width: 50%;
	height: 500px;
	top: 15%;
	overflow: hidden;
	position: relative;
	margin-right: 24px;
}

.gift_shop {
	position: relative;
	column-gap: 24px;

	img {
		width: 90%;
		height: 500px;
	}
}

.gift_shop_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 12px;
	z-index: 1;

	.gallery_container__image {
		position: absolute;
		z-index: 3;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Mobile Styling */
@media (max-width: 1024px) {
	.gift_shop_cashier_minifigure {
		width: 25vw;

		img {
			width: 100px;
			height: 150px;
			margin-left: 48px;
		}

		h1 {
			font-size: 0.75rem;
		}
	}

	.gift_shop_minifigure img {
		width: 100px;
		height: 150px;
	}

	.carousel {
		height: 100px;
		top: 50%;
		width: 100%;
	}

	.gift_shop img {
		width: 100%;
		height: auto;
	}

	.gift_shop_container {
		margin-right: 0;
		justify-content: center;
	}
}
