:root {
	--lego-red: #c91a09;
	--lego-yellow: #ffd700;
	--lego-blue: #0055bf;
	--white: #ffffff;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
	height: 100vh;
	width: 100vw;
}

.gift_shop_set_body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 12px;

	img {
		width: 100px;
		height: 100px;
	}
}

.gift_shop_set_container {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	height: calc(100vh - 466px);

	.gift_shop_set_container__image {
		position: absolute;
		z-index: 3;
		width: calc(100vw - 75%);
		height: auto;
	}
}

.gift_shop_set_info_container {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 12px;
	width: 100%;
	z-index: 3;

	img {
		width: calc(100vw - 96px);
		height: 330px;
	}

	.set_info {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 48px;
		z-index: 4;
		width: calc(100vw - 192px);
		height: 258px;
		font-family: 'Sansita One';
		font-size: medium;

		.set_info_left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		.set_info_right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		h1 {
			color: var(--lego-red);
			margin: 0;
		}

		span {
			color: var(--lego-blue);
		}

		a {
			color: var(--lego-red);
		}
	}
}
